.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    height: 100vh;
    padding: 10px; // Добавлено для отступов на малых экранах

    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: rgb(202, 159, 245);
        border-radius: 15px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgb(152, 53, 252);
    }

    @media (max-width: 768px) {
        height: auto;
        padding: 20px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 600px;
        height: 80vh;
        background-color: #5c78c4;
        border-radius: 20px;
        padding: 40px 0px 40px 0px;

        @media (max-width: 768px) {
            width: 100%;
            height: auto;
            padding: 20px;
        }

        .formTodoContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .formContainer {
                form {
                    display: flex;
                    align-items: center;

                    .inputAddTodo {
                        width: 400px;
                        height: 40px;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        padding-left: 10px;
                        border: none;
                        outline: none;

                        @media (max-width: 768px) {
                            width: 300px;
                        }

                        @media (max-width: 480px) {
                            width: 300px;
                        }
                    }

                    .addTodo {
                        width: 60px;
                        height: 43px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #002897;
                        color: #fff;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        cursor: pointer;
                    }

                    .addTodo:hover {
                        background-color: #0145ff;
                    }
                }
            }

            .todoContainer {
                height: 60vh;
                overflow-y: scroll;
                width: 100%;

                @media (max-width: 768px) {
                    height: auto;
                    max-height: 50vh;
                }
            }
        }

        .completedAll {
            width: 100%;
        }

        .footerContainer {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 5px;
            height: 60px;
            width: 100%;
            background-color: #002897;
            color: #FFF;

            @media (max-width: 480px) {
                flex-direction: column;
                gap: 10px;
                height: auto;
                width: 100%;
            }

            @media (max-width: 770px) {
                flex-direction: column;
                gap: 10px;
                height: auto;
                width: 70%;
            }

            .completedTodo {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                max-width: 200px;
            }

            .buttonsContainer {
                display: flex;
                justify-content: center;
                width: 100%;
                max-width: 400px;

                .allButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 20px;
                    border-radius: 5px;
                    cursor: pointer;

                    @media (max-width: 480px) {
                        width: auto;
                        padding: 5px 10px;
                    }
                }

                .activeButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 20px;
                    border-radius: 5px;
                    cursor: pointer;

                    @media (max-width: 480px) {
                        width: auto;
                        padding: 5px 10px;
                    }
                }

                .completedButton {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    height: 20px;
                    border-radius: 5px;
                    cursor: pointer;

                    @media (max-width: 480px) {
                        width: auto;
                        padding: 5px 10px;
                    }
                }

                .allButton:hover,
                .activeButton:hover,
                .completedButton:hover {
                    background-color: rgb(245, 225, 225);
                    color: #002897;
                }
            }

            .clearCompleted {
                width: 100%;
                max-width: 200px;
                display: flex;
                justify-content: center;
                border-radius: 5px;
                cursor: pointer;
            }

            .clearCompleted:hover {
                background-color: rgb(245, 225, 225);
                color: #002897;
            }
        }
    }
}